<h1>Convert <%= @from_currency %> to <%= @currency_symbol %> </h1>

<p> 1 <%= @from_currency %> equals <%= @rate %> <%=@currency_symbol %>.
<p>
 Go <a href="/forex/<%= @from_currency%>">back.</a>
</p>
